# Ignore node modules from host
node_modules

# Ignore logs
*.log
npm-debug.log*

# Ignore environment files
.env
.env.*

# Ignore test files if you have them
__tests__/
test/
*.spec.ts
*.test.ts

# Ignore Docker-related files from host (optional)
docker-compose.*
Dockerfile
.dockerignore

# OS or IDE-specific files
.DS_Store
*.swp
*.swo
*.bak
.idea/
.vscode/
*.iml
